@import "tailwindcss";
@plugin "daisyui";


.font-big {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}


* {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  cursor: none;
}

.bloom-white {
  text-shadow: 0px 0px 10px white;
}

.bloom-green {
  text-shadow: 0px 0px 10px green;
}

.bloom-yellow {
  text-shadow: 0px 0px 10px yellow;
}

.bloom-red {
  text-shadow: 0px 0px 10px red;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}